<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>Home page</h1>
<div class="constainer">
  <div class="row mt-5">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-4">
          <div class="card mb-3">
            <img src="assets/node.png" class="card-img-top" alt="NodeJS" />
            <div class="card-body" style="max-height: 300px;">
              <h5 class="card-title">NodeJS</h5>
              <p class="card-text">
                Baziran na V8 JavaScript engine-u, Node.js je poznat po svojoj
                efikasnosti i sposobnosti da upravlja velikim brojem simultanih
                konekcija u realnom vremenu, što ga čini idealnim za izgradnju
                skalabilnih aplikacija.
              </p>
              <button class="btn btn-lg btn-info">More Info</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3">
            <img src="assets/react.png" class="card-img-top" alt="NodeJS" />
            <div class="card-body"  style="max-height: 300px;">
              <h5 class="card-title">React</h5>
              <p class="card-text">
                React JS je JavaScript biblioteka koja omogućava izgradnju
                interaktivnih korisničkih interfejsa kroz komponente. Koristi
                virtualni DOM za efikasno renderovanje promena na stranici, što
                poboljšava performanse aplikacija.
              </p>
              <button class="btn btn-lg btn-info">More Info</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-3">
            <img src="assets/php.jpg" class="card-img-top" alt="NodeJS" />
            <div class="card-body"  style="max-height: 300px;">
              <h5 class="card-title">PHP</h5>
              <p class="card-text">
                PHP je server-side skriptni jezik koji se koristi za razvoj
                dinamičkih web stranica i aplikacija. Omogućava interakciju sa
                bazama podataka, autentifikaciju korisnika i generisanje HTML
                sadržaja u realnom vremenu.
              </p>
              <button class="btn btn-lg btn-info">More Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/bottom') %>
